@font-face {
    font-family: typewriter;
    src: url(assets/Takibi-Regular.otf);
}
body{
    padding: 300px;
    display:flex;
    font-family: typewriter;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: gray;
    margin-left: 0px;
}
