body{
    padding: 180px;
    font-family: 'Courier New', Courier, monospace;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
}

.flex-container > div{
    padding: 50px;
}

#profile{
    width: 7vw;
}

@media (max-width: 1080px) {
    #profile {
        width: 90px; 
    }
}

ul {
    list-style-type: none;
    padding: 0%;
}

ul li{
    margin-bottom: 5px;
}

ul li a {
    text-decoration: none;
    color: gray;
    margin-left: 0px;    
}

h2{
    font-size: 20px;
}

h3{
    /* margin-top: 0px; */
    font-size: 15px;
    color: rgb(174, 174, 174);
    font-weight: 150;
}